body {
  font-family: sans-serif;
  background-image: url('https://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1486068323/peybonne-homme-les-tours-BORDEAUX0317.jpg?itok=13VjR77M');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  /* background: linear-gradient(#e4d8b3, #ceac3e); */
}

input:focus {
  outline-width: 0;
}

button:focus {
  outline-width: 0;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 50px;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-items {
  width: 200px;
  flex-grow: 1;
}

.nav-items a {
  margin: 8px;
}

.nav-items p {
  font-size: 18px;
  margin: 8px;
}

#title {
  margin-right: 40px;
  /* font-family: cursive; */
  font-family: Snell Roundhand;
}

.product-img {
  height: 300px;
  width: 300px;
  border-color: rgba(114, 107, 107, 0.533);
  border-style: solid;
  border-width: 1px;
  border-radius: 48px;
}

.cart-product-img {
  height: 100px;
  width: 100px;
  border-color: rgba(114, 107, 107, 0.533);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}

#productLabel {
  background-color: white;
  font-weight: bold;
}

.product {
  display: flex;
  margin: 5px;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.product h3 {
  font-size: 26px;
  margin: 5px;
}

.product p {
  margin: 2px;
  font-weight: bold;
}

.allProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.5);
}
.cart-component-container {
  display: grid;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
}
.single-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.full-search {
  width: 800px;
}

.button {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.single-product-page {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.thank-you-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.attributes {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
}

.single-product-page-info {
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 48px;
}

.checkout-button {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  /* align-items: space-around; */
}

/* .checkout-button-container > h3 {
  padding: 10px;
} */

#search-button {
  display: inline-block;
  padding: 0;
  margin-right: 10px;
  margin: 0;
  vertical-align: top;
  height: 50px;
  width: 50px;
  border-radius: 10px;
}

#search-button img {
  transform: translate(-3%, -3%);
  height: 54px;
  width: 54px;
}

#search-bar {
  background: rgba(255, 255, 255, 0.411);
  border-top-left-radius: 96px;
  border-bottom-left-radius: 96px;
  border-top-right-radius: 96px;
  border-bottom-right-radius: 96px;
  border-color: rgba(114, 107, 107, 0.233);
  border-style: solid;
  border-width: 1px;
  font: 400 20px system-ui;
  height: 32px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 12px;
  width: 80%;
}

.info-input {
  font: 200 18px;
  height: 24px;
  width: 160px;
  border-color: rgba(114, 107, 107, 0.433);
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
}

.form-names {
  font-size: 22px;
}

.sResult-pic {
  height: 200px;
  width: 200px;
  border-color: rgba(114, 107, 107, 0.433);
  border-style: solid;
  border-width: 1px;
  border-radius: 48px;
  margin: 10px;
}

.search-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgba(156, 131, 64, 0.7);
  border-radius: 24px;
}

.search-items p {
  padding-left: 10px;
}

.search-items h2 {
  font-size: 26px;
  padding-left: 10px;
}

.line-break {
  height: 1px;
  background-color: black;
  margin: 1px;
}

/* AUTH-FORM COMPONENT */
.forms {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
}

#google-logo {
  height: 7%;
  width: 7%;
}

/* PROFILE COMPONENT */
.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.5);
}
.update-button-container {
  padding: 10px;
}
.update-button {
  font-size: 20px;
  padding: 10px 24px;
  border-radius: 8px;
  transition-duration: 0.4s;
}
.update-button:hover {
  background-color: rgb(41, 116, 177);
}

/* ABOUT US COMPONENT */

.aboutus-container {
  background-color: rgba(255, 255, 255, 0.5);
}

.cropped-founders-img {
  width: 220px; /* width of container */
  height: 220px; /* height of container */
  overflow: hidden;
  border: 5px solid black;
}

.founderimg-and-info {
  display: flex;
}

.cropped-founders-img img {
  margin: -120px 0px 0px -50px;
}

.collaborators {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-history-img {
  height: 100px;
  width: 100px;
  border-color: rgba(114, 107, 107, 0.533);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
}
